@import '~antd/dist/antd.css';

$colors:
        hsla(337, 84, 48, 0.75)
        hsla(160, 50, 48, 0.75)
        hsla(190, 61, 65, 0.75)
        hsla( 41, 82, 52, 0.75);
$size: 2.5em;
$thickness: 0.5em;

// Calculated variables.
$lat: ($size - $thickness) / 2;
$offset: $lat - $thickness;

body {
  margin: 0 !important;
  font-family: 微软雅黑, Helvetica;
  overflow: hidden;
}

:focus {
  outline: rgba(19, 124, 189, 0.6) auto 0;
  outline-offset: 0;
}

.panel-under-head {
  top: 48px;
  .ms-Panel-main {
    width: 310px;
    .ms-Panel-navigation {
      line-height: 32px;
      margin-bottom: 10px;
    }
    .ms-Panel-scrollableContent {
      overflow-x: hidden;
      .ms-Link {
        float: right;
        margin-bottom: 5px;
      }
      .user-card {
        width: 100%;
        min-width: auto;
        padding: 0 16px;
        .left-img {
          width: 88px;
          padding: 5px;
          img {
            width: 100%;
          }
        }
        .user-title {
          color: #000;
          font-size: 16px;
          font-weight: bold;
        }
        .user-description {
          font-size: 14px;
        }
        .white-break {
          width: 160px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: inline-block;
        }
        .ms-Button {
          width: 70px;
          padding: 0 5px;
          height: 28px;
          min-width: auto;
        }
      }
      .ant-badge {
        width: 100%;
        .notice-card {
          height: 45px;
          width: calc(100% - 21px);
          max-width: none;
          min-width: auto;
          display: inline-block;
          cursor: pointer;
          border-bottom: 1px dashed #e3ebed;
          padding: 10px;
          .left-img {
            float: left;
            width: 50px;
            text-align: center;
            i {
              font-size: 30px;
              color: red;
              font-weight: 500;
            }
          }
          .right-content {
            float: right;
            height: 100%;
            width: calc(100% - 50px);
          }
        }
        .notice-card:hover {
          border-color: #f4f4f4!important;
          box-shadow: 0 8px 16px 0 rgba(0,0,0,.1);
          transition: border-color .167s linear,box-shadow .167s linear;
          span {
            color: #48aff0;
          }
        }
      }
    }
  }
}

.panel-all-head {
  .ms-Panel-main {
    width: 310px;
    .ms-Panel-commands {
      height: 48px;
      .ms-Panel-navigation {
        padding: 0;
        height: 48px;
        .ms-Label {
          padding: 0;
          .ms-Button {
            height: 100%;
            i {
              color: #414448;
            }
          }
        }
      }
    }
    .ms-Panel-scrollableContent {
      overflow-x: hidden;
      .nav-item {
        width: 250px;
        height: 48px;
        line-height: 48px;
        cursor: pointer;
        border: 1px solid #fff;
        padding-left: 10px;
        img {
          width: 32px;
          margin-right: 10px;
          float: left;
          margin-top: 7px;
        }
      }
      .nav-item:hover {
        border-color: #f4f4f4!important;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,.1);
        transition: border-color .167s linear,box-shadow .167s linear;
        span {
          color: #48aff0;
        }
      }
    }
  }
}

.card-full {
  .ms-Panel-content {
    padding: 10px 0;
  }
}

.ms-Button--primary {
  background-color: #2b569a;
}
.ms-Button--primary:hover {
  background-color: #2a4a7d;
}
.ms-Button--primary:active {
  background-color: #2b569a;
}

.ms-FocusZone {
  padding-top: 0;
}

.popover-operator {
  height: 40px;
  width: 140px;
  .container-fluid {
    height: 100%;
    padding: 0 8px;
    .row {
      height: 100%;
      .col-md-4, .col-md-6 {
        padding-right: 0;
        .operator-selector {
          height: 24px;
          width: 24px;
          line-height: 24px;
          border-radius: 12px;
          background-color: #989ca2;
          cursor: pointer;
          float: left;
          margin-left: 5px;
          margin-top: 9px;
          text-align: center;
          i, span {
            font-weight: 600;
            color: #fff;
            display: table;
            font-size: 12px;
          }
          i {
            margin-left: 6px;
          }
        }
        .function-selector {
          height: 24px;
          width: 18px;
          line-height: 24px;
          background-color: #989ca2;
          cursor: pointer;
          float: left;
          margin-left: 5px;
          margin-top: 9px;
          text-align: center;
          i, span {
            font-weight: 600;
            color: #fff;
            display: table;
          }
          i {
            margin-left: 2px;
          }
          span {
            margin-left: 6px;
            font-size: 16px;
            margin-top: -1px;
          }
        }
        .active {
          background-color: rgba(61, 120, 213, 1);
        }
        .operator-selector:not(.active):hover, .function-selector:not(.active):hover {
          background-color: #55698e;
        }
        .slider {
          height: 30px;
          width: 1px;
          float: right;
          background: #bbb5b5;
          margin-top: 5px;
        }
      }
    }
  }
}

.ms-Dialog-main {
  max-width: none;
}

* {
  box-sizing: content-box;
}

.sql-dialog {
  .ms-Dialog-main {
    position: absolute;
    top: 50px;
    .ms-MessageBar {
      width: calc(100% - 300px);
      float: right;
    }
    .page {
      float: right;
      margin-top: 5px;
    }
  }
}

.card-hover{
  height: 200px;
  padding: 5px;
  width: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  color: #000;
  font-size: 12px;
}

.ant-popover-inner-content {
  padding: 5px;
  .tag-bar {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      height: 30px;
      width: 50px;
      line-height: 30px;
      text-align: center;
      cursor: pointer;
    }
    li:hover {
      background-color: #d4e0f4;
    }
  }
}


.ms-Pagination-container {
  text-align: center;
  height: 26px;
  line-height: 26px;
  .ms-Button {
    padding: 0;
    width: 20px;
    height: 26px;
    background-color: transparent;
    i {
      font-size: 14px;
    }
  }
  .ms-ComboBox-container {
    margin-top: -2px;
    height: 26px;
    .ms-ComboBox {
      height: 26px;
      input {
        height: 24px;
      }
    }
    .ms-ComboBox:hover {
      border: 1px solid #2b569a;
    }
  }
}
.ms-ComboBox::after {
  border: 0;
}
.ms-Callout-main {
  max-height: 210px !important;
}
.font600 {
  font-weight: 600;
}

.description {
  margin-top: 5px;
  span {
    font-size: 12px;
    color: #9da2a3 !important;
  }
}
