.head {
  width: 100%;
  height: 48px;
  line-height: 48px;
  display: flex;
  background-color: #2B579A;
  box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  .button-head-group {
    height: 100%;
    width: 100%;
    .ms-Button {
      height: 100%;
      min-width: 48px;
      width: auto;
      text-align: center;
      background-color: transparent;
      .ms-Icon {
        color: #fff;
      }
    }
    .ms-Button:hover {
      background-color: #002050;
    }
    .title {
      color: #fff;
      letter-spacing: 1px;
      font-weight: 600;
      margin-left: 10px;
      font-size: 16px;
    }
    .button-right-group {
      float: right;
      height: 48px;
      .ant-badge {
        height: 100%;
        float: left;
        .ant-badge-count {
          padding: 0;
          top: 10px;
        }
      }
      .ms-Icon {
        font-size: 20px;
      }
    }
  }
  .active {
    background-color: #fff !important;
    i {
      color: #000 !important;
    }
  }
}
